<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Talk Installer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="icon" href="/images/coralLogoMark-1.5-150x150.png" sizes="32x32">
    <link rel="icon" href="/images/coralLogoMark-1.5.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/images/coralLogoMark-1.5.png">
    <meta name="msapplication-TileImage" content="/images/coralLogoMark-1.5.png">
  </head>
  <body>
    <nav class="coral-orange">
      <div class="nav-wrapper row">
        <div class="col s12">
          <a href="#" class="brand-logo"><img src="/images/icon-coral-white.svg" width="24"> Talk Installer</a>
          <a href="#" data-activates="sidebar" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="https://coralproject.net/">The Coral Project</a></li>
            <% if (user) { %>
              <li><a href="/auth/logout">Sign out</a></li>
            <% } %>
          </ul>
          <ul class="side-nav" id="sidebar">
            <% if (user) { %>
              <li><a href="/auth/logout">Sign out</a></li>
            <% } %>
            <li><a href="https://coralproject.net/">The Coral Project</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="errors" class="row">
        <div class="col s12">
          <div class="card red darken-1">
            <div class="card-content white-text">
              <span class="card-title">An error occured during deployment</span>
              <pre class="error-content"></pre>
              <pre class="error-detail"></pre>
            </div>
          </div>
        </div>
      </div>

      <% errors.forEach((error) => { %>
        <div class="row">
          <div class="col s12">
            <div class="card red darken-1">
              <div class="card-content white-text">
                <%- marked(error) %>
              </div>
            </div>
          </div>
        </div>
      <% }) %>

      <% if (user) { %>
        <div id="select-mode" class="row">
          <div class="center">
            <a id="upgrade-existing-deployment-btn" class="waves-effect waves-light blue darken-1 btn-large">Upgrade an existing deployment</a>
            <a id="create-new-deployment-btn" class="waves-effect waves-light btn-large">Create a new deployment</a>
          </div>
        </div>

        <div id="start-upgrade" class="row">
          <div class="col s12">
            <div class="warning-message">
              <h4>Potential Data Loss</h4>
              <%- md('upgrade-warning') %>
            </div>
          </div>

          <h3 class="col s12">Upgrade Deployment</h3>
          <div class="col s12">
            <%- md('upgrade-1') %>
          </div>

          <form class="col s12">
            <input type="hidden" name="tarballUrl" value="" required>
            <input type="hidden" name="version" value="" required>
            <div class="row">
              <div class="input-field col s12">
                <input required name="app_name" type="text" id="heroku-apps-autocomplete" class="autocomplete">
                <label>Select the Talk Heroku App</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <div class="tag-spinner">
                  <p>Loading latest release</p>
                  <div class="progress">
                    <div class="indeterminate"></div>
                  </div>
                </div>
                <div class="deploy-button-gutter">
                  <button type="submit" class="waves-effect waves-light btn deploy-button">Upgrade to <span data-template-tag="latest-release"></span> on Heroku</button><span class="btn-notes" data-template-tag="latest-release-notes"></span>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div id="upgrade-complete" class="row">
          <h3 class="col s12">Deployment Upgraded</h3>
          <div class="col s12">
            <%- md('upgrade-2') %>
          </div>
        </div>

        <div id="start-installation" class="row">
          <h3 class="col s12">New Deployment Settings</h3>
          <form id="form" class="col s12">
            <div class="row">
              <div class="col s12">
                <%- md('step-1') %>
              </div>
              <input type="hidden" name="tarballUrl" value="" required>
              <input type="hidden" name="version" value="" required>
              <div class="input-field col s12">
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required name="facebookAppID" id="facebookAppID" type="text" class="validate">
                <label for="facebookAppID">Facebook App ID</label>
              </div>
              <div class="input-field col s12">
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required name="facebookAppSecret" id="facebookAppSecret" type="text" class="validate">
                <label for="facebookAppSecret">Facebook App Secret</label>
              </div>
              <div class="col s12">
                <p>
                  <input type="checkbox" id="test6" />
                  <label for="test6">Allow The Coral Project to collect anonymous usage statistics</label>
                  <a href="https://coralproject.net/" target="_blank">more info</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <div class="tag-spinner">
                  <p>Loading latest release</p>
                  <div class="progress">
                    <div class="indeterminate"></div>
                  </div>
                </div>
                <div class="deploy-button-gutter">
                  <button type="submit" class="waves-effect waves-light btn deploy-button">Deploy <span data-template-tag="latest-release"></span> to Heroku</button><span class="btn-notes" data-template-tag="latest-release-notes"></span>
                </div>
              </div>
            </div>

          </form>
        </div>

        <div id="finish-installation">
          <%- md('step-2') %>
          <a class="waves-effect waves-light btn" target="_blank" rel="noreferrer" id="activate-email-button">Activate Email</a>

          <div id="finish-installation-post">
            <%- md('step-3') %>
            <a class="waves-effect waves-light btn" target="_blank" rel="noreferrer" id="finish-installation-button">Finish Installation</a>
            <a class="red darken-1 waves-effect waves-light btn" id="delete-deployment">Delete Deployment</a>
          </div>
        </div>

        <div id="deployment-modal" class="modal">
          <div class="modal-content">
            <div id="deploy-progress">
              <p></p>
              <div class="progress">
                <div class="indeterminate"></div>
              </div>
              <pre></pre>
            </div>
          </div>
        </div>

        <div id="delete-deployment-modal" class="modal">
          <div class="modal-content">
            <h4>Delete your deployment</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit nisi vitae ipsum aliquet pellentesque. Aenean convallis vehicula sagittis. Nullam ac est eget nibh egestas faucibus eget sollicitudin tellus. Integer mollis enim nec suscipit accumsan. Integer vitae aliquet justo. Integer suscipit porttitor tellus eu interdum.</p>
          </div>
          <div class="modal-footer">
            <a id="delete-deployment-confirm" class="modal-action modal-close waves-effect waves-red btn-flat">Delete Deployment</a>
            <a class="modal-action modal-close waves-effect btn-flat">Cancel</a>
          </div>
        </div>
      <% } else { %>
        <%- md('intro') %>
        <a class="waves-effect waves-light btn" href="/auth/heroku">Login with Heroku</a>
      <% } %>
    </div>
    <script src="/javascripts/jquery.min.js" charset="utf-8"></script>
    <script src="/javascripts/jquery.validate.min.js" charset="utf-8"></script>
    <script src="/javascripts/jquery.maskedinput.min.js" charset="utf-8"></script>
    <script src="/javascripts/materialize.min.js" charset="utf-8"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
